<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools and Ecosystem<h1>

<strong> Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
    <li>Popular languages that Data Scientists use.</li>
    <li>Commonly used libraries used by Data Scientists.</li>
    <li>Data Science tools.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular languages that Data Scientists use are:
<ul>
    <li>Python.</li>
    <li>R.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li>C/C++.</li>
    <li>JavaScript.</li>
</ul>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the most commonly used libraries by Data Scientists are:
<ul>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>

</ul>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>




<table style="width:100%">
  <tr>
    <th>Apache Spark</th>
  </tr>
  <tr>
    <td>NLTK</td>
  </tr>
  <tr>
    <td>Apache Hadoop</td>
  </tr>
  <tr>
    <td>SAS</td>
  </tr>
  <tr>
    <td>KNIME</td>
  <tr>
    <td>DATARobot</td>
  </tr>    
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples.</strong>

In [14]:
import math as m

b=4
a=c=1
x1=(-b+m.sqrt(b**2-4*a*c))/(2*a)
x2=(-b-m.sqrt(b**2-4*a*c))/(2*a)
print(x1,x2)

-0.2679491924311228 -3.732050807568877

<strong>Exercise 8 - Create a code cell to multiply and add numbers.</strong>

In [15]:
(7*2)**2+1

197

<strong>Exercise 9 - Create a code cell to convert minutes to hours. </strong>

In [18]:
mins = 200

hours = mins / 60
print(f"{mins} minutes --> {hours} hours")

200 minutes --> 3.3333333333333335 hours

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> Amer Obeidat